.media {
    width: 100%;
}

.member-photo {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 25vw;
    outline: rgba(139, 92, 246, 0.8); /* Scientific purple outline */
    outline-style: solid;
    outline-width: .25vh;
    object-fit: cover;
}

.modal-header .col-sm-7 {
    margin-left: 2vw;
}

.socials {
    display: None;
    
}

.member-socials {
    list-style: None;
    padding-left: 0;
}

.horizontal-profile {
    border-bottom: .1vh solid rgba(255, 255, 255, 0.2); /* Light border for dark theme */
    margin-bottom: 1vh;
}

/* Mobile and small tablet styles */
@media only screen and (max-width: 768px) {
    .member-photo {
        width: 60px;
        height: 60px;
        outline-width: 2px;
    }

    .modal-header .col-sm-7 {
        margin-left: 1vw;
    }

    .member-affiliation {
        margin-top: 0.5vw;
        font-size: 12px;
    }
}

/* Medium tablets */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .member-photo {
        width: 8vw;
        height: 8vw;
    }

    .socials {
        display: initial;
    }

    .socials a {
        margin-right: 0.3vw;
        text-decoration: none;
    }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
    .member-photo {
        width: 10vw;
        height: 10vw;
    }

    .socials {
        display: initial;
    }

    .socials a {
        margin-right: .25vw;
        text-decoration: none;
    }

    .member-affiliation {
        margin-top: 1vw;
    }

    .col-xl-4 {
        border-right: .1vw solid rgba(255, 255, 255, 0.2); /* Light border for dark theme */
    }

    .horizontal-profile {
        border-bottom: none;
    }


}